extends adminlayout

block content
  div.row="&nbsp;"
  div.six.columns.centered.pale.restore-block
    h3.twelve.columns=title
    form.twelve.columns.pale.restore-block.custom(action="/admin/series/0", method="post", style="margin: 0;")
      span.ten.columns
        input(type="text", name="name", placeholder="name")
      span.two.columns(style="width: 12%;")
        input.button(type="submit", name="save", value="Save", style="height: 32px;")
    table.twelve.record
      tr
        th.ten="Name"
        th.two
      for serie in series
        tr
          td= serie.name
          td
            a.icon-pen(href="/admin/series/" + serie._id)
            a.icon-minus-alt.float-right(href="#", id= serie._id, data-element="series")
