extends adminlayout

block content
  div.row="&nbsp;"
  form.five.columns.centered.pale.restore-block(method="post")
    h3="Create an Uber-admin"
    p
      label(for="email", class="form-label")="Email:"
      input(type="email", name="email")
    p
      label(for="password", class="form-label")="Password:"
      input(type="password", name="password")
    p
      input.button(type="submit", name="save", value="Save")
