extends adminlayout

block content
  form(method="post")
    h3="Create an admin"
    p
      label(for="email", class="form-label")="Email:"
      input(type="email", name="email")
    p
      label(for="password", class="form-label")="Password:"
      input(type="password", name="password")
    p
      input(type="submit", name="save", value="Save")
