extends layout

block content
  div.dark-bar
    div.main-article.eleven.columns.centered= "This is england"
  div.news-list
  script(src="/javascripts/jquery.js")
  script(src="/javascripts/links.js")
