extends layout

block content
  div#dark-bar.no-phone
    div#player
  div#streamer.media-list
    ul#videos-list
  span#selectedVideoId.hidden=id
  script(src="/javascripts/path.min.js")
  script(src="/javascripts/jquery.js")
  script(src="/javascripts/videos.js")
