extends layout

block content
  div#player
    iframe(src="http://player.vimeo.com/video/58427085?title=0&amp;byline=0&amp;portrait=0&amp;color=3B65AF", width="99%", height="535", frameborder="0", webkitAllowFullScreen, mozallowfullscreen, allowFullScreen)
  div#streamer.videos-list
    ul#videos-list
