nav ul, .main-header-admin ul {
    list-style:none;
}
@font-face {
    font-family: 'icomoon';
    src:url('icomoon.eot');
    src:url('icomoon.eot?#iefix') format('embedded-opentype'),
        url('icomoon.woff') format('woff'),
        url('icomoon.ttf') format('truetype'),
        url('icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bk2am';
    src: url('blackout_two_am-webfont.eot');
    src: url('blackout_two_am-webfont.woff') format('woff'),
        url('blackout_two_am-webfont.ttf') format('truetype'),
        url('blackout_two_am-webfont.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
.actionable {
    cursor: pointer;
}
.container {
    margin: 0 auto;
    width: 80%
}
.form-label {
    display: inline-block;
    width: 75px;
}
.hidden {
    display: none;
}
.main-header {
    height: 11em;
}
.main-header-admin {
    height: 5em;
}
.main-header h1 {
    font-size: 5em;
    font-family: 'Bk2AM';
}
.main-header-admin h1 {
    font-size: 2em;
    font-family: 'Bk2AM';
}
.main-menu {
    margin-top: 3em;
    float: right;
    width: 40%;
}
.main-header-admin .main-menu {
    margin-top: 1em;
    width: 45%;
}
.main-menu ul {
    float: right;
}
.menu-items {
    color: #DEDEDE;
    float: left;
    height: 3.5em;
    line-height: 3.8em;
    text-align: center;
    text-transform: uppercase;
    width: 6em;
    cursor: pointer;
    border-radius: 3em;
    margin: 0.7em 0.3em 0;
}
.menu-items a {
    color: #dedede;
    text-decoration: none;
    font-size: 2em;
}
.main-header-admin .menu-items {
    width: inherit;
    color: inherit;
}
.main-header-admin .menu-items a{
    color: inherit;
    font-size: 1.5em;
}
.menu-videos {
    background-color: rgb(59, 101, 175);
}
.menu-users {
    background-color: #990;
}
.menu-login {
    background-color: #168;
}
.menu-items.selected a{
    color: #080808;
    text-shadow: 0 0 10px #dedede;
}
.main-menu ul li:hover {
    background-color: #404040;
}
.main-body {
    background-color: #fefefe;
    height: 750px;
    box-shadow: 0 0 25px;
}
.no-decoration {
    text-decoration: none;
}
.pale {
    background-color: #efefef;
    border-radius: 10px;
}
.record th {
    font-size: 18px;
}
.record th a {
    font-size: 14px;
}
.record th, .record td {
    border-right: 1px solid #DDD;
    padding-bottom: 1px;
    padding-top: 4px;
}
.record th:last-child, .record td:last-child {
    border-right: medium none;
}
.restore-block {
    padding-bottom: 1px;
    padding-top: 1px;
}
.dark-bar {
    background-color: #000;
    text-align: center;
    height: 28em;
}
#player {
    display: inline-block;
    width: 50%;
}
.media-list {
    margin-top: 3em !important;
    margin: 0 auto;
    width: 88%;
}
.media-list img {
    width: 13.5em;
    height: 8em;
}
.media-list ul li {
    display: inline-block;
    padding-right: 1.2em;
}
.media-list ul li a {
    color: #202020;
}
.media-list ul li h4 {
    font-family: Arial;
    font-size: 1em;
    font-weight: normal;
    padding-left: 0.3em;
    padding-right: 0.3em;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0.2em;
    margin-top: 0;
}
.media-list ul li span {
    font-size: 0.7em;
    padding-left: 0.3em;
}
.float-right {
    float: right;
}
.icon-play-alt:before, .icon-camera:before, .icon-link:before, .icon-rss-alt:before, .icon-cog:before, .icon-document-stroke:before, .icon-headphones:before, .icon-user:before, .icon-twitter:before, .icon-google-plus:before, .icon-feed:before, .icon-vimeo:before, .icon-flickr:before, .icon-picassa:before, .icon-dribbble:before, .icon-wordpress:before, .icon-pinterest:before, .icon-cart:before, .icon-plus-alt:before, .icon-remove:before, .icon-enter:before, .icon-exit:before, .icon-minus-alt:before, .icon-pen:before, .icon-compass:before {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.icon-play-alt:before {
    content: "\e000";
}
.icon-camera:before {
    content: "\e001";
}
.icon-link:before {
    content: "\e003";
}
.icon-rss-alt:before {
    content: "\e002";
}
.icon-cog:before {
    content: "\e004";
}
.icon-document-stroke:before {
    content: "\e005";
}
.icon-headphones:before {
    content: "\e007";
}
.icon-user:before {
    content: "\e008";
}
.icon-twitter:before {
    content: "\e006";
}
.icon-google-plus:before {
    content: "\e009";
}
.icon-feed:before {
    content: "\e00a";
}
.icon-vimeo:before {
    content: "\e00b";
}
.icon-flickr:before {
    content: "\e00c";
}
.icon-picassa:before {
    content: "\e00d";
}
.icon-dribbble:before {
    content: "\e00e";
}
.icon-wordpress:before {
    content: "\e00f";
}
.icon-pinterest:before {
    content: "\e010";
}
.icon-cart:before {
    content: "\e011";
}
.icon-plus-alt:before {
    content: "\e012";
}
.icon-remove:before {
    content: "\e013";
}
.icon-enter:before {
    content: "\e014";
}
.icon-exit:before {
    content: "\e015";
}
.icon-minus-alt:before {
    content: "\e016";
}
.icon-pen:before {
    content: "\e017";
}
.icon-compass:before {
    content: "\e018";
}

/** iPad **/
@media only screen and (max-width: 1024px) {
    .main-header {
        height: 9em;
    }
    .main-header h1 {
        font-size: 340%;
    }
    .main-menu {
        margin-top: 3%;
        width: 24em;
    }
    .menu-items {
        width: 5em;
    }
}
