/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
@font-face {
    font-family: 'icomoon';
    src:url('icomoon.eot');
    src:url('icomoon.eot?#iefix') format('embedded-opentype'),
        url('icomoon.woff') format('woff'),
        url('icomoon.ttf') format('truetype'),
        url('icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bk2am';
    src: url('blackout_two_am-webfont.eot');
    src: url('blackout_two_am-webfont.woff') format('woff'),
        url('blackout_two_am-webfont.ttf') format('truetype'),
        url('blackout_two_am-webfont.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #000;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}
.body-style {
    background-image: url('../images/bg-b.png');
}
.center-content {
}
.container {
    margin: 0 auto;
    width: 80%
}
.main-header {
    background-image: url('../images/header_bg.gif');
    height: 12em;
    box-shadow: 0 0 6px rgb(181, 223, 162);
}
.main-header h1 {
    font-size: 5em;
    text-shadow: -2px -2px 2px #000, 2px 2px 2px #fff;
    color: #fff;
    opacity: 0.1;
    font-family: 'Bk2AM';
    padding-top: 0.15em;
}
.main-menu {
    height: 5em;
}
.menu-items {
    color: #DEDEDE;
    float: left;
    height: 3.5em;
    line-height: 4em;
    text-align: center;
    text-transform: uppercase;
    width: 6em;
    cursor: pointer;
    border-radius: 3em;
    margin: 0.7em;
}
.menu-items a {
    color: #dedede;
    text-decoration: none;
    font-size: 2em;
}
.menu-videos {
    background-color: rgb(59, 101, 175);
}
.menu-pictures {
    background-color: rgb(94, 192, 56);
}
.menu-links {
    background-color: rgb(167, 36, 36);
}
.menu-music {
    background-color: rgb(26, 97, 97);
}
.menu-items.selected a{
    color: #080808;
    text-shadow: 0 0 10px #dedede;
}

.main-menu ul li:hover {
    background-color: #404040;
}
.main-body {
    background-color: #dedede;
    height: 750px;
    box-shadow: 0 0 25px;
}
#player {
    background-color: #000;
    text-align: center;
}
.videos-list {
    overflow-x: auto;
    height: 150px;
    margin: 10px 10px 0 10px;
}
#streamer ul li {
    display: table-cell;
    padding-right: 10px;
}

#streamer ul li a {
    color: #202020;
    text-decoration: none;
}

#streamer ul li h4 {
    font-family: Arial;
    font-size: 0.9em;
    font-weight: normal;
    padding-left: 0.3em;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#streamer ul li span {
    font-size: 0.8em;
    padding-left: 0.3em;
}
.icon-play-alt:before, .icon-camera:before, .icon-link:before, .icon-rss-alt:before, .icon-cog:before, .icon-document-stroke:before, .icon-tumblr:before, .icon-headphones:before {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.icon-play-alt:before {
    content: "\e000";
}
.icon-camera:before {
    content: "\e001";
}
.icon-link:before {
    content: "\e003";
}
.icon-rss-alt:before {
    content: "\e002";
}
.icon-cog:before {
    content: "\e004";
}
.icon-document-stroke:before {
    content: "\e005";
}
.icon-tumblr:before {
    content: "\e006";
}
.icon-headphones:before {
    content: "\e007";
}
