/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #000;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}
.body-style {
    background-color: #202020;
}
.container {
    margin: 0 auto;
    width: 80%
}
.main-header {
    background-color: #303030;
    height: 12em;
}
.main-header h1 {
    color: rgb(222, 222, 222);
    line-height: 1.5em;
    font-size: 9em;
    margin-left: 0.3em;
}
.main-menu {
    height: 3em;
    background-color: #111;
}
.menu-items {
    color: #DEDEDE;
    float: left;
    height: 3em;
    line-height: 3.3em;
    text-align: center;
    text-transform: uppercase;
    width: 8em;
    cursor: pointer;
}
.menu-items a {
    color: #dedede;
    text-decoration: none;
}
.menu-videos {
    background-color: rgb(59, 101, 175);
}
.menu-pictures {
    background-color: rgb(94, 192, 56);
}
.menu-links {
    background-color: rgb(167, 36, 36);
}
.main-menu ul li:hover {
    background-color: #404040;
}
.main-body {
    background-color: #dedede;
    height: 640px;
}
